/* === Import Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* === Reset and Box Sizing === */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* === Links === */
a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

/* === HTML5 Elements Display === */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

/* === Typography === */
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* === Forms === */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* === Body and Utility Classes === */
body {
    background-color: #f7f7f7;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* === Header and Nav === */
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #eeeeee;
    padding-left: 130px;
    padding-right: 130px;
}

.nav {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Inter';
    color: #222222;
    font-size: 36px;
    font-weight: 900;
}

.subtitle {
    font-family: 'Inter';
    color: #2e2e2e;
    font-size: 24px;
    font-weight: 900;
    margin: 30px 0 10px;
}

.description {
    font-family: 'Inter';
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px;
    width: 70%;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-item {
    cursor: pointer;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 550;
    color: #222222;
}

.login {
    border: 2px solid #323232;
    border-radius: 8px;
    padding: 8px 12px;
    transition-duration: 0.15s;
}

.login a{
    transition-duration: 0.15s;
}

.login:hover {
    background-color: #222222;
}

.login:hover a{
    color: #ececec;
}

.menu-item a {
    color: #222222;
}

.nav-menu .middle {
    margin: 0 22px;
}

.nav-handler {
    margin-left: auto;
    display: none;
}

/* === More Menu (Mobile) === */
.more {
    display: flex;
    align-items: center;
    padding-top: 74px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 180px;
    background-color: #e0e0e0;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}

.more.show {
    transform: translateY(0);
}

@media (min-width: 900px) {
    .more {
        display: none;
    }
}

/* === Container === */
.container {
    padding-left: 130px;
    padding-right: 130px;
}

/* === Layout Helpers === */
.vertical-middle {
    margin: 12px 0;
}

.vertical-last {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

/* === Form Styles === */
form {
    width: 100%;
    padding: 50px 35px;
    border: 2px solid #222;
    background-color: #f7f7f7;
    border-radius: 26px;
}



label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 25px;
}

button[type="submit"] {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    height: 45px;
    background-color: #222;
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}
  

/* === Logout === */
.logout img {
    margin-left: 4px;
    width: 25px;
}

/* === Overlay (for full image display) === */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.image-description {
    color: #fff;
    font-family: "Futura Medium";
    font-size: 18px;
    text-align: center;
    max-width: 70%;
    line-height: 1.4em;
}

/* === Updates === */
.updates {
    padding-top: 74px;
    min-height: 800px;
}

/* === Albums === */
.albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.albums-item {
    background-color: #eeeeee;
    border-radius: 10px;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    transition-duration: 0.1s;
}

.albums-item:hover {
    background-color: #e6e6e6;
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);*/
}

.gallery-item {
    background-color: #eeeeee;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition-duration: 0.1s;
}

.gallery-item:hover {
    background-color: #e6e6e6;
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);*/
}

.img-cover {
    height: 50%;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    mask-image: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.photo {
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#fullImage {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform-origin: center;
    transform: scale(1.2)
}

.photo img:hover {
    transform: scale(1.25); 
}

.img-cover img {
    transform: scale(1.2);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.albums-item-container {
    padding: 20px;
}

.albums-item-title {
    cursor: pointer;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 550;
    color: #222222;
    margin-bottom: 10px;
}

.albums-item-caption {
    cursor: pointer;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 10px;
}

/* === First (Add New Album) === */
.first {
    cursor: pointer;;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #808080;
    border-radius: 7px;
}

.plus-container {
    width: 15%;
    height: 15%;
}

.plus-container img {
    width: 100%;
    height: 100%;
}

/* === Popup === */
.popup {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup.open {
    display: block;
}

.popup-content {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin: 10% auto;
    width: 340px;
    border-radius: 7px;
}

.popup-content input {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #848484;
    border-radius: 5px;
}

.popup-content textarea {
    font-size: 14px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid #848484;
    border-radius: 5px;
    outline: none;
}

.login-content {
    width: 50%;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    margin-top: 35px;
}

.login-content input {
    font-size: 14px;
    width: 100%;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.add-button {
    cursor: pointer;
    height: 50px;
    width: 230px;
    background-color: #eeeeee;
    margin-top: 35px;
    border: 2px solid #808080;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    color: #4e4e4e;
    font-size: 18px;
    transition-duration: 0.1s;
}

.add-button:hover {
    background-color: #e6e6e6;
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);*/
}

.no-scroll {
    overflow: hidden;
    height: 100vh; 
}

/* === Adaptive Media Queries === */
/* 1200px */
@media (max-width: 1200px) {
    .albums-item-title {
        font-size: 22px;
    }
    .albums-item-caption {
        font-size: 14px;
    }
}

/* 1080px */
@media (max-width: 1080px) {
    .title {
        font-size: 32px;
    }
    .nav-menu .menu-item {
        font-size: 12px;
    }
    .nav-menu .middle {
        margin: 0 16px;
    }
    .container {
        padding-left: 85px;
        padding-right: 85px;
    }
    header {
        padding-left: 85px;
        padding-right: 85px;
    }
    .logout img {
        margin-left: 4px;
        width: 22px;
    }
    .albums {
        grid-template-columns: repeat(3, 1fr);
    }
    .login-content {
        width: 60%;
    }
}

/* 900px */
@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }
    .menu-item {
        font-size: 12px;
    }
    .nav-handler {
        display: block;
    }
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
    header {
        padding-left: 70px;
        padding-right: 70px;
    }
    .logout img {
        margin-left: 4px;
        width: 18px;
    }
    .albums {
        grid-template-columns: repeat(2, 1fr);
    }
    .login-content {
        width: 70%;
    }
}

/* 768px */
@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }
    .container {
        padding-left: 55px;
        padding-right: 55px;
    }
    header {
        padding-left: 55px;
        padding-right: 55px;
    }
    .albums-item-title {
        margin-bottom: 5px;
    }
    .login-content {
        width: 100%;
    }
}

/* 560px */
@media (max-width: 560px) {
    .title {
        font-size: 24px;
    }
    .subtitle {
        margin: 20px 0 12px;
        font-size: 18px;
    }
    .add-button {
        margin-top: 20px;
    }
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    header {
        padding-left: 35px;
        padding-right: 35px;
    }
    .albums-item-title {
        font-size: 18px;
    }
    .albums-item-caption {
        font-size: 11px;
    }

    .login-content {
        font-family: 'Inter';
        font-size: 18px;
    }

    .popup-content {
        font-size: 18px;
        width: 90%;
    }
}

.ep {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 38px;
    margin: 35px 0 50px;
    color: #222;
    padding-right: 15%;
}