<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>chermoz</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header>
        <div class="nav no-select">
            <span class="title no-select">ЧЕРМОЗ</span>
            <span class="nav-menu no-select">
                <span class="menu-item no-select"><a href="/">ГЛАВНАЯ</a></span>
                <span class="menu-item middle no-select"><a href="/album">ФОТОАЛЬБОМ</a></span>
                {% if user.is_authenticated %}
                <span class="menu-item no-select">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
                {% else %}
                <span class="menu-item no-select login"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></span>
                {% endif %}
            </span>
            <span class="nav-handler no-select" id="nav-handler">
                <img class="no-select" id="menu-icon" src="../static/images/menu.svg" alt="">
            </span>
        </div>
    </header>
    <div class="more no-select" id="more">
        <div class="container no-select">
            <div class="menu-item no-select"><a href="/">ГЛАВНАЯ</a></div>
            <div class="menu-item vertical-middle no-select"><a href="/album">ФОТОАЛЬБОМ</a></div>
            {% if user.is_authenticated %}
            <div class="logout-container vertical-last no-select">
                <span class="menu-item no-select">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
            </div>
            {% else %}
            <div class="menu-item vertical-last no-select"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></div>
            {% endif %}
        </div>
    </div>
    <div class="updates no-select">
        <div class="container no-select">
            {% if user.admin %}
            <div class="add-button"><div>Добавить альбом</div></div>
            {% endif %}
            {% for album in albums %}
                {% if user.admin or photos[album.id]|length > 0 %}
                <div class="subtitle no-select">{{ album.name }}</div>
                <div class="albums">
                    {% if user.admin %}
                    <div class="gallery-item first" data-album-id="{{ album.id }}">
                        <div class="plus-container">
                            <img src="../static/images/plus.svg" alt="">
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% for photo in photos[album.id] %}
                <div class="gallery-item photo">
                    <img src="{{ photo.path }}" alt="">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <br><br><br>
        </div>
    </div>
    {% if user.admin %}
    <div class="popup" id="popup">
        <div class="popup-content">
            <form action="{{ url_for('upload' )}}" method="post" enctype="multipart/form-data" id="popup-form1">
                <input type="hidden" name="album_id" value="">
                <input type="hidden" name="section_id1" value="">
                <input type="hidden" name="redirect" value="">
                <input type="file" accept="image/png, image/jpeg" name="file">
                <button type="submit">ЗАГРУЗИТЬ</button>
            </form>
        </div>
    </div>
    <div class="popup" id="popup2">
        <div class="popup-content">
            <form action="{{ url_for('addAlbum') }}" method="post" id="popup-form2">
                <input type="hidden" name="section_id2" value="">
                <label for="popup-title">Название альбома</label>
                <input type="text" id="popup-title" name="popup-title" maxlength="30" placeholder="Введите название"/>
                <label for="popup-desc">Описание альбома</label>
                <textarea id="popup-desc" name="popup-desc" maxlength="100" placeholder="Введите описание"></textarea>
                <button type="submit">СОЗДАТЬ</button>
            </form>
        </div>
    </div>
    {% endif %}
    <script src="../static/js/header.js"></script>
    {% if user.admin %}
    <script src="../static/js/album-popup.js"></script>
    {% endif %}
</body>
</html>
