<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chermoz</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="container nav no-select">
            <span class="title no-select">Чермоз</span>
            <span class="nav-menu no-select">
                <span class="menu-item no-select"><a href="/">главная</a></span>
                <span class="menu-item middle no-select"><a href="/album">фотоальбом</a></span>
                <span class="menu-item no-select"><a href="/login">войти</a></span>
            </span>
            <span class="nav-handler no-select" id="nav-handler">
                <img class="no-select" id="menu-icon" src="../static/images/menu.svg" alt="">
            </span>
        </div>
    </header>
    <div class="more no-select" id="more">
        <div class="container no-select">
            <div class="menu-item no-select"><a href="/">главная</a></div>
            <div class="menu-item vertical-middle no-select"><a href="/album">фотоальбом</a></div>
            <div class="menu-item vertical-last no-select"><a href="/auth">вход</a></div>
        </div>
    </div>
    <div class="updates no-select">
        <div class="container no-select">
            <div class="title no-select">Последние обновления</div>
        </div>
    </div>
    <script src="../static/js/header.js"></script>
</body>
</html>