<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chermoz</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="nav no-select">
            <span class="title no-select"><img src="../static/images/logo.svg" alt=""></span>
            <span class="nav-menu no-select">
                <span class="menu-item no-select"><a href="/">ГЛАВНАЯ</a></span>
                <span class="menu-item no-select"><a href="/album">ФОТОАЛЬБОМ</a></span>
                <span class="menu-item no-select"><a href="/essay">ОЧЕРКИ</a></span>
                {% if user.is_authenticated %}
                <span class="menu-item no-select">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
                {% else %}
                <span class="menu-item no-select login"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></span>
                {% endif %}
            </span>
            <span class="nav-handler no-select" id="nav-handler">
                <img class="no-select" id="menu-icon" src="../static/images/menu.svg" alt="">
            </span>
        </div>
    </header>
    <div class="more no-select" id="more">
        <div class="container no-select">
            <div class="menu-item vertical no-select"><a href="/">ГЛАВНАЯ</a></div>
            <div class="menu-item vertical no-select"><a href="/album">ФОТОАЛЬБОМ</a></div>
            <div class="menu-item vertical no-select"><a href="/essay">ОЧЕРКИ</a></div>
            {% if user.is_authenticated %}
            <div class="logout-container no-select">
                <span class="menu-item vertical">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
            </div>
            {% else %}
            <div class="menu-item vertical no-select"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></div>
            {% endif %}
        </div>
    </div>
    <div class="updates no-select">
        <div class="container no-select">
            <div class="ep">
                    У каждого из нас на свете есть места,<br>
                    Что нам за далью лет все ближе, все дороже,<br>
                    Там дышится легко, там мира чистота,<br>
                    Нас делают на миг счастливей и моложе
                </div>
            {#<div class="subtitle no-select">Последние обновления</div>#}
            <div class="albums">
                {% for photo in photos %}
                    <a href="/album/{{ photo.section_id }}">
                        <div class="gallery-item photo">
                            <img src="{{ photo.path }}" alt="">
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="pdf-container"></div>
        </div>
    </div>
    <script src="../static/js/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.worker.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'pdf.worker.js';
        const pdfUrl = '../static/images/1.pdf';

        pdfjsLib.getDocument(pdfUrl).promise.then(function(pdf) {
            const container = document.getElementById('pdf-container');

            for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
                const pageDiv = document.createElement('div');
                pageDiv.id = 'page-' + pageNumber; 
                container.appendChild(pageDiv);
            }
            
            for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
                pdf.getPage(pageNumber).then(function(page) {
                    const scale = 1.5;
                    const viewport = page.getViewport({ scale: scale });
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');

                    canvas.width = viewport.width;
                    canvas.height = viewport.height;

                    const renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };

                    page.render(renderContext).promise.then(function() {
                        const pageDiv = document.getElementById('page-' + pageNumber);
                        pageDiv.appendChild(canvas);
                    });
                });
            }
        }).catch(function(error) {
            console.error('Ошибка при загрузке/отрисовке PDF: ', error);
        });
    </script>

</body>
</html>