<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chermoz</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="nav no-select">
            <span class="title no-select">ЧЕРМОЗ<p>И ЧЕРМОЗЯНЕ</p></span>
            <span class="nav-menu no-select">
                <span class="menu-item no-select"><a href="/">ГЛАВНАЯ</a></span>
                <span class="menu-item middle no-select"><a href="/album">ФОТОАЛЬБОМ</a></span>
                {% if user.is_authenticated %}
                <span class="menu-item no-select">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
                {% else %}
                <span class="menu-item no-select login"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></span>
                {% endif %}
            </span>
            <span class="nav-handler no-select" id="nav-handler">
                <img class="no-select" id="menu-icon" src="../static/images/menu.svg" alt="">
            </span>
        </div>
    </header>
    <div class="more no-select" id="more">
        <div class="container no-select">
            <div class="menu-item no-select"><a href="/">ГЛАВНАЯ</a></div>
            <div class="menu-item vertical-middle no-select"><a href="/album">ФОТОАЛЬБОМ</a></div>
            {% if user.is_authenticated %}
            <div class="logout-container vertical-last no-select">
                <span class="menu-item no-select">{{ user.username|upper }}</span>
                <span class="logout no-select"><a href="/logout"><img src="../static/images/logout.svg" alt=""></a></span>
            </div>
            {% else %}
            <div class="menu-item vertical-last no-select"><a href="{{ url_for('login', next=request.path) }}">ВХОД</a></div>
            {% endif %}
        </div>
    </div>
    <div class="updates no-select">
        <div class="container no-select">
            <div class="full-photo">
                <img src="{{ photo.path }}" alt="">
            </div>
            
            <div id="desc-edit" style="display: none;">
                <textarea id="desc-textarea" class="description photo-description">{{ photo.description }}</textarea>
            </div>

            <div id="desc" class="description photo-description" style="display: block;">
                {{ photo.description }}
            </div>

            {% if user.admin %}
            <div id="editButton" data-photo-id="{{ photo.id }}" class="add-button">
                <div>Редактировать</div>
            </div>
            {% endif %}
            <br><br><br><br>
            
        </div>
    </div>
    <script src="../static/js/header.js"></script>
    <script>
        function toggleEditing() {
          const desc = document.getElementById('desc');
          const descEdit = document.getElementById('desc-edit');
          const editButton = document.getElementById('editButton');
          const textarea = document.getElementById('desc-textarea');
      
          if (desc.style.display === 'block') {
            // Переходим в режим редактирования
            desc.style.display = 'none';
            descEdit.style.display = 'block';
            editButton.innerText = 'Сохранить';
      
            // Принудительно пересчитываем высоту при первом показе
            autoResize(textarea);
      
          } else {
            const newText = textarea.value
            editDesc(editButton, newText)
            desc.innerText = newText;
            desc.style.display = 'block';
            descEdit.style.display = 'none';
            editButton.innerText = 'Редактировать';
          }
        }
      
        // Функция, пересчитывающая высоту textarea
        function autoResize(el) {
          // Сбрасываем высоту, чтобы scrollHeight считался корректно
          el.style.height = 'auto';
          // Увеличиваем высоту в пикселях, исходя из «прокрутки» содержимого
          el.style.height = el.scrollHeight + 10 + 'px';
        }
      
        const textarea = document.getElementById('desc-textarea');
        // При каждом вводе текста пересчитываем высоту
        textarea.addEventListener('input', () => {
          autoResize(textarea);
        });

        async function editDesc(btn, desc) {
            const photoId = btn.dataset.photoId;

            try {
                const res = await fetch('/edit_desc', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ id: photoId, desc: desc})
                });

                const { status, result } = await res.json();
                console.log('Ответ сервера:', status, result);
            } catch (err) {
                console.error('Ошибка отправки:', err);
            }
        }
        document.getElementById('editButton').onclick = toggleEditing;
      </script>
    <!-- <script src="../static/js/edit-button-func.js"></script> -->
</body>
</html>